.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input {
  border: solid 10px #ddd;
}

input.search {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADbSURBVDhP5ZI9C4MwEIb7//+BEDgICA6C4OQgBJy6dRIEB6EgCNkEJ4e3iT2oHzH9wHbpAwfyJvfkJDnhYH4kHDVKlSAigSAQoCiBKjVGXvaxFXZnxBQYkSlBICII+22K4jM63rbHSthCSdsskVX9Y6KxR5XJSSpVy6GbpbBKp6aw0BzM0ShCe1iKihMXC6EuQtMQwukzPFu3fFd4+C+/cimUNxy6WQkNnmdzL3NYPfDmLVuhZf2wZYz80qDkKX1St3CXAfVMqq4cz3hTaGEpmctxDPmB0M/fCYEbAwZYyVKYcroAAAAASUVORK5CYII=);
}

.switch-wrapper {
  position: relative;
}

.parallax {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("./images/money.png") repeat fixed 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/money.png") repeat fixed 100%;
  color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: zoom-out;
  animation-duration: 4s;
  animation-delay: 2s;
  z-index: -1;
}

.parallax-inner {
  padding-top: 20%;
  padding-bottom: 20%;
}
.parallax-inner-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.close {
  border: none;
  background: none;
  border: black;
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
}

.home {
  background-image: url("./images/background.png");
  width: 100vw;
  height: 100vh;
}

.newBtnSpecial {
  opacity: 0;
  background-image: none;
}
.TrendingNow-heading {
  font-weight: 800;
  color: #002f6c;
  padding-top: 15px;
  margin-bottom: 10px;
  margin-top: 0;
  border-top: 1px solid #747474;
  position: relative;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 100%;
}
.TrendingNow-heading:before {
  content: "";
  height: 6px;
  width: 110px;
  background-color: #fcb700;
  position: absolute;
  top: -6px;
  left: 0;
}

@keyframes zoom-out {
  0% {
    background-position-y: initial;
  }

  100% {
    background-position-y: bottom;
  }
}
